/* BEGINNING OF CODE, IF THIS APPEARS HALFWAY DOWN THE DOCUMENT THEN GITHUB HAS BALLSED IT UP AGAIN */

.tileWrapper {
    display: inline-block;
    color: #444;
    font-family: 'Montserrat', 'sans-serif';
	padding: auto;
	width: 100%;
	margin: auto;
}

/* Game canvases */

.gameWrapper {
	padding: 5px;
    color: white;
    transition: 0.2s ease;
	border-radius: 2px;
    margin: 0px 0px 1.5em 0px;
}
.gameWrapper img {
	width: 80%;
	max-width: 512px;
}

.game {
	background-color: #000;
	width: 95%;
    max-width: 512px;
    margin: auto;
}

/* unity containers */
#gameContainer {
	margin: 0px auto;
	width: 512px;
	height: 512px;
	display: inline-block;
	text-align: center;
}

a{
    color: #f6f6e8;
    font-weight: 600;
	text-decoration: none;
}

h5 {
	/*TOP SCORE*/
	font-size: 1.2em;
	margin-top: .1em;
	margin-bottom: 1em;
}

/* Colours */

body {
    background-color: hsl(189, 76%, 18%);
}

hr {
    border-color: #2a455c;
}

.main {
    background-color: hsl(189, 76%, 18%);
    color: #ccc;
    font-size: 1.4em;
}
.contrast {
    background-color: hsl(189, 96%, 35%);
    color: #fff;
    font-size: 1.4em;
    text-align: center;
}
.accent {
    background-color: hsl(27, 100%, 50%);
}


.main h2{
    margin-top: 12px;
    color: #fff;
    font-weight: 700;
}
.main h3{
    color: #fff;
    font-weight: 400    ;
}
.main p{
    font-size: .75em;
}
.main a{
    color: hsl(27, 100%, 50%);
}

.breadcrumb {
    font-size: 0.5em;
}

.breadcrumb a {
    color: hsl(189, 96%, 35%);
}

.contrast h3{
    color: #fff;
    font-weight: 700;
    line-height: .15em; 
}
.contrast p{
    font-size: .75em;
}
.contrast a{
    color: hsl(27, 100%, 50%);
    text-shadow: 1px 1px 0px #5c391c;
}
.contrast li{
    font-size: .75em;
}



/* Slabs */

@media only screen and (max-width: 600px) {
	.slab {
		display: block;
	}
    
    body {
    
    margin: 0px;
    }
    
    
    .button a {
    font-size: 4vw;
    }
}


@media only screen and (min-width: 601px) {
	.slab {
		display: grid;
	}
	
	.slab h1 {
		font-size: 3vmin;
	}
	
	.slab p {
		font-size: 2.5vmin;
	}
    body {
    
    margin: 0px;
    }
}

.hidden {
    color: transparent;
}

/* Unbound progress bar */


.UB_progress {
    position: relative;
    display: block;
    height: 5px;
    background: #444;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.UB_progressBar {
    background: hsl(27, 100%, 50%);
    position: absolute;
    transition: 1s ease;
    top: 0;
    left: 0;
    height: 100%;
}


/* Hidden stuff */


.mainNav {
    display: none;
    margin: 1em;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    padding: 1em;
    font-size: 1.2em;
    color: #aaa;
}

.mainNav a {
    color: #00ace9;
    text-decoration: none;
}

.footer {
    display: none;
    font-family: 'Montserrat', 'sans-serif';
    text-align:right;
    color: #aaa;
}

.button {
    text-align: center;
    background-color: hsl(189, 96%, 35%);
    width: 20%;
    margin: 14px auto;
    padding: 8px 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #333;
    color: #fff;
    font-weight: 400;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button a {
    color: #fff;
    font-weight: 200;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button:hover {
    background-color: #fff;
    cursor: pointer;
    color: #333;
}

.button:hover a {
    background-color: #fff;
    cursor: pointer;
    color: #333;
}

#dataHolder {
    display: none;
}

@font-face {
    font-family: 'pixeled';
    src: url('../css/font_pixeled.ttf');
}
@font-face {
    font-family: 'sm';
    src: url('font_sm.ttf');
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
}
canvas#Canvas_mls4 { width: 512px; height: 256px; } /* 4 * 64 = 256 */

